#contact-us-main #content--wrapper form {
	width: 600px;
	margin-left: 100px;
	padding: 8rem 20px 10px;
}
#contact-us-main form h2 {
	font-size: 3rem;
	line-height: 5rem;
	font-weight: 800;
	color: var(--blue);
	text-transform: uppercase;
}
#contact-us-main #content--wrapper form .form-field {
	width: 100%;
	padding: 1rem 0rem;
}
#contact-us-main #content--wrapper form .form-field input {
	height: 35px;
	border: 1px solid #cecece;
}
#contact-us-main #content--wrapper form .form-field label {
	color: #505050;
	margin-bottom: 10px;
	display: block;
}
#contact-us-main #content--wrapper form .form-field textarea {
	border: 1px solid #cecece;
}
#contact-us-main #content--wrapper form .form-field input,
#contact-us-main #content--wrapper form .form-field label,
#contact-us-main #content--wrapper form .form-field textarea {
	width: 100%;
}
