* {
	font-family: "Nunito", Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	color: black;
}
h2 {
	font-size: 3rem;
}
header {
	display: flex;
	justify-content: space-between;
	background-color: white;
	border-bottom: 1px solid #ddd;
	padding: 1rem 1rem;
}
header #right {
	display: flex;
}
#logo img {
	width: 50px;
}
#search {
	margin-top: 5px;
	width: 25rem;
	height: 20px;
	background-color: #f1f1f1;
	position: relative;
}
#search-bar input {
	border: none;
	padding: 0.5rem;
	border-radius: 1rem;
}
#search-bar button#search-btn {
	position: absolute;
	right: 18px;
	top: 22px;
	border: none;
	width: 35px;
	height: 34px;
	padding: 2px;
	border-radius: 100%;
	overflow: hidden;
}
#search-bar button#search-btn img {
	width: 30px;
	height: 30px;
}
main {
	display: flex;
	background-image: url("../assets/images/home-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: calc(100vh - 68px);
}
main #content--wrapper {
	width: calc(100% - 60px);
	height: calc(100vh - 90px);
	background-image: linear-gradient(
		to left,
		rgba(255, 255, 255, 0.3),
		/* low opacity */ rgba(255, 255, 255, 1) /* high opacity */
	);
}
.btn-action {
	text-transform: uppercase;
	border: none;
	color: white;
	font-weight: bold;
	background-color: var(--blue);
	cursor: pointer;
}
.btn-action.normal {
	border-radius: 25px;
	margin-top: 40px;
	padding: 1rem 2rem;
	font-size: 16px;
}
aside {
	display: flex;
	width: 60px;
	background-color: white;
	height: calc(100vh - 68px);
}
aside #social {
	list-style: none;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	margin-bottom: 20px;
	padding-bottom: 60px;
	flex-wrap: wrap;
	display: inline-block;
	align-self: flex-end;
}
aside #social li {
	margin: 20px 0;
}
aside a {
	padding: 4px;
	display: block;
}
aside a img {
	width: 100%;
	height: 40px;
}
.hidden {
	display: none;
}
#search-result {
	padding-bottom: 40px;
	background-color: white;
	position: absolute;
	padding: 10px;
	max-height: calc(100vh - 100px);
	overflow-y: scroll;
}
#search-result ul {
	list-style: none;
}
#search-result ul li {
	margin-bottom: 10px;
}
#search-result ul li .search-card {
	background-color: #f1f1f1;
	padding: 15px;
	border-radius: 10px;
}
#search-result ul li .search-card img {
	width: 100%;
	height: auto;
}
#search-result ul li .search-card h3 {
	font-size: 1.4rem;
	margin: 6px 0;
}
#search-result ul li .search-card .btn-action {
	padding: 10px 20px;
	margin-top: 10px;
	border-radius: 20px;
	font-size: 12px;
}
#search-result .reset-btn {
	margin: 20px auto 0;
	display: block;
	padding: 10px;
	border-radius: 20px;
}
#search-result .no-results {
	text-align: center;
	margin-top: 10px;
	width: 380px;
}
